<%= form_for(@cough) do |f| %>
  <% if @cough.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cough.errors.count, "error") %> prohibited this cough from being saved:</h2>

      <ul>
      <% @cough.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.number_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
